* {
	margin: 0;
	padding: 0;
}

.register_container {
	width: 557px;
	height: 593px;
	margin: 0 auto;
	 /*top left no-repeat;*/ 
}

#login_container{
	width: 357px;
	height: 450px;
}

.form_container {
	width: 550px;
	height: 550px;
	margin: 0px auto;
	padding-top: 80px;
	text-align: center;
	background: url('images/login_bg.png');
	background-size: cover;
}

#form_login{
	width: 357px;
	height: 350px;
}

.text_input:focus {
	outline: 0;
}

.text_input {
	color: #c1c1c3;
	border: 0;
	margin: 5px 35px 0 34px;
	padding: 0px 0px 0px 10px;
	width: 229px;
	height: 32px;
	background: url('images/text_input.png') top left no-repeat;
}

#register {
	margin: 20px 108px;
	border: 0;
	width: 83px;
	height: 30px;
	background: url('images/login_btn.png') top left no-repeat;
	cursor:pointer;
}

#register:hover {opacity:0.9;}

#register:active {
	background: url('images/login_btn_hov.png') top left no-repeat;
}

.register_text, .register_label, #register_btn {
	text-align:center;
	color:#515151;
	font-family: 'Lobster', cursive;
}

.register_text {
	margin:25px;
}

.register_btn{
	border-radius: 25px;
	width: 30%;
	height: 30px;
	margin: 5px auto;
	background-color: #919191;
	color: white;
}